/*FONTS*/
@font-face { /*GothicPixel*/
    font-family: GothicPixel;
    src=url (/fonts/OldEnglishGothicPixelRegular-ow2Bo.ttf);
   }
@font-face { /*PixelScript*/
    font-family: PixelScript;
    src=url (/fonts/PixelScriptRegular-4B83W.ttf);
   }
@font-face { /*Mintsoda*/
    font-family: Mintsoda;
    src=url (/fonts/MintsodaLimeGreen16X16Regular-EanDl.ttf);
   }

body {
    font-family: Mintsoda;
    font-size: 11px; 
    margin: 0px; 
    padding: 0px; 
    overflow-x: hidden;
  }
h1 {
    font-family: GothicPixel;
    font-size: 20px;
    text-align: left;
  }
h2 { /*used for category*/
    font-family: GothicPixel;
    font-size: 20px;
    text-align: right;
  }
h3 { /*used for pixelscript stuff*/
    font-family: PixelScript;
    font-size: 14px;
  }
img { 
    position: absolute; 
    display: block; 
    margin: 0px; 
    border: none; 
    padding: 0px; }
div { 
    position: absolute; }

.section {
    display: none;
    }
.section.active{
    display: block;
    }
.invisible {
    display: none;
    }

ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;
}

ul li {
background: #ccc;
padding: 10px 15px;
margin-left: 6px;
border-radius: 50%;
cursor: pointer;
opacity: .5;
}

ul li.active{
opacity: 1 !important;
}

.next {
    top: 420px;	left: 725px;
	width: 32px; height: 32px;
    border: 0;
    outline: none;
    cursor: pointer;
    }
.prev {
    top: 420px;	left: 11px;
	width: 32px; height: 32px;
    border: 0;
    outline: none;
    cursor: pointer;
    }
.next.disable,
.prev.disable{
  cursor: none;
  opacity: .5;
}
  
.content-container {
    display: block; 
    position: relative; 
    width: 768px; height: 560px; 
    overflow: hidden; 
    margin-left: auto; margin-right: auto;
    }

.page {
	top: 0px;
	left: 0px;
	width: 768px;
	height: 560px;
}

.desk {
	top: 0px;
	left: 0px;
	width: 768px;
	height: 560px;
    }
.book {
	top: 35px;
	left: -64px;
	width: 862px;
	height: 454px;
    }

.Lpage {
	top: 55px; left: 64px;
	width: 310px; height: 388px;
}
.Rpage {
	top: 55px; left: 394px;
	width: 310px; height: 388px;
}

.pgnmbr {
	top: 351px;	left: 274px;
	width: 36px; height: 29px;
	overflow: hidden;
	font-family: GothicPixel;
	font-size: 20px;
	text-align: right;
	letter-spacing: 1px;
	color:#000000;
    }

.comment {
	top: 248px;
	left: 63px;
	width: 219px;
	height: 58.1px;
	overflow: hidden;
	
	-ms-transform:rotate(-6.67deg);
	-o-transform:rotate(-6.67deg);
	-webkit-transform:rotate(-6.67deg);
	-moz-transform:rotate(-6.67deg);
	transform:rotate(-6.67deg);
	text-align: center;
	letter-spacing: 0.55px;
}

.field_notes {
	top: 16px;
	left: 12px;
	width: 177px;
	height: 30px;
	overflow: hidden;
	font-family: GothicPixel;
	font-size: 20px;
	text-align: left;
	letter-spacing: 1px;
	color:#000000;
}

.Rcontent {
	top: 41px;
	left: 11px;
	width: 282px;
	height: 228px;
}

.stats {
	top: 5px;
	left: 6.5px;
	width: 274px;
	height: 68px;
}

.resistances_box {
	top: 0px;
	left: 0px;
	width: 140px;
	height: 54px;
}

.resistances_title {
	top: 1px;
	left: 4px;
	width: 94.4px;
	height: 25.4px;
	overflow: hidden;
	font-family: PixelScript;
	font-size: 14px;
	text-align: left;
	color:#000000;
}

.stats_text {
	top: 25px; left: 4px;
	width: 116.1px;	height: 31.1px;
	overflow: hidden;
	font-family: Mintsoda;
	font-size: 11px;
	text-align: left;
	color:#000000;
}

.vulnerabilities_box {
	top: 0px; left: 140px;
	width: 140px; height: 68px;
}

.vulnerabilities_title {
	top: 1px; left: 4px;
	width: 113.4px;	height: 25.4px;
	overflow: hidden;
	font-family: PixelScript;
	font-size: 14px;
	text-align: left;
	color:#000000;
}

.text_ek1 {
	top: 25px;
	left: 4px;
	width: 105.1px;
	height: 45.1px;
	overflow: hidden;
	font-family: Mintsoda;
	font-size: 11px;
	text-align: left;
	color:#000000;
}

.body_text {
	top: 83px;
	left: 13.5px;
	width: 272.1px;
	height: 143.1px;
	overflow: hidden;
	font-family: Mintsoda - Lime Green 16x16;
	font-size: 11px;
	text-align: left;
	color:#000000;
}

.title {
	top: 16px;
	left: 20px;
	width: 65px;
	height: 30px;
	overflow: hidden;
	font-family: Old English Gothic Pixel;
	font-size: 20px;
	text-align: left;
	letter-spacing: 1px;
	color:#000000;
}

.category {
	top: 16px;
	left: 202px;
	width: 99px;
	height: 30px;
	overflow: hidden;
	font-family: Old English Gothic Pixel;
	font-size: 20px;
	text-align: right;
	letter-spacing: 1px;
	color:#000000;
}

.art {
	top: 81px; left: 58px;
	max-width: 169px; max-height: 150px;
	text-align: center;
}

.scientific_name {
	top: 177px;	left: 114px;
	width: 83.4px; height: 25.4px;
	overflow: hidden;
	font-family: PixelScript;
	font-size: 14px;
	text-align: center;
}

.habitats {
	top: 203px;	left: 48px;
	width: 214px; height: 38px;
}

._116_3 {
	top: 3px;
	left: 91px;
	width: 32px;
	height: 32px;
}

.Ldescriptions {
	top: 241px;	left: 20px;
	width: 275px; height: 131px;
}

.sightings {
	top: 2px; left: 10px;
	width: 74.4px; height: 25.4px;
	overflow: hidden;
	font-family: PixelScript;
	font-size: 14px;
	text-align: left;
}

.sightings_box {
	top: 24px;
	left: 10px;
	width: 255px;
	height: 44px;
}

.places { /*inside sightings box*/
	top: 1px; left: 9px;
	width: 132.1px;	height: 45.1px;
	overflow: hidden;
	font-family: Mintsoda;
	font-size: 11px;
	text-align: left;
}

.places_2 { /*inside sightings box*/
	top: 1px; left: 130px;
	width: 132.1px;	height: 31.1px;
	overflow: hidden;
	font-family: Mintsoda;
	font-size: 11px;
	text-align: left;
}

.resources {
	top: 69px; left: 10px;
	width: 84.4px; height: 25.4px;
	overflow: hidden;
	font-family: PixelScript;
	font-size: 14px;
	text-align: left;
}

.resources_box {
	top: 91px; left: 10px;
	width: 255px; height: 38px;
}

.resources_icon {
	top: 3px; left: 9px;
	width: 32px; height: 32px;
}

.zoom {
	top: 125px;	left: 244px;
	width: 32px; height: 32px;
}

/* TABS */
/* +44 px per tab */
.tab_r_A {
	top: 93px;
	left: 30px;
	position: absolute;
}  
.tab_r_L {
	top: 93px;
	left: 30px;
	position: absolute;
}  
.tab_r_R {
	top: 93px;
	left: 706px;
	position: absolute;
}    
.tab_o_A {
	top: 137px;
	left: 30px;
	position: absolute;
}  
.tab_o_L {
	top: 137px;
	left: 30px;
	position: absolute;
}  
.tab_o_R {
	top: 137px;
	left: 706px;
	position: absolute;
}  
.tab_y_A {
	top: 181px;
	left: 30px;
	position: absolute;
}  
.tab_y_L {
	top: 181px;
	left: 30px;
	position: absolute;
}  
.tab_y_R {
	top: 181px;
	left: 706px;
	position: absolute;
}  
.tab_g_A {
	top: 225px;
	left: 30px;
	position: absolute;
}  
.tab_g_L {
	top: 225px;
	left: 30px;
	position: absolute;
}  
.tab_g_R {
	top: 225px;
	left: 706px;
	position: absolute;
}  
.tab_b_A {
	top: 269px;
	left: 30px;
	position: absolute;
}
.tab_b_L {
	top: 269px;
	left: 30px;
	position: absolute;
}
.tab_b_R {
	top: 269px;
	left: 706px;
	position: absolute;
}
.tab_pu_A {
	top: 313px;
	left: 30px;
	position: absolute;
}  
.tab_pu_L {
	top: 313px;
	left: 30px;
	position: absolute;
}  
.tab_pu_R {
	top: 313px;
	left: 706px;
	position: absolute;
}    
.tab_pi_A {
	top: 357px;
	left: 30px;
	position: absolute;
}
.tab_pi_L {
	top: 357px;
	left: 30px;
	position: absolute;
}
.tab_pi_R {
	top: 357px;
	left: 706px;
	position: absolute;
}

#c {
	top: 31px;
	left: 0px;
	width: 50.6px;
	height: 45.6px;
	overflow: hidden;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	font-family: Old English Gothic Pixel;
	font-size: 36px;
	line-height: 40.6px;
	text-align: left;
	letter-spacing: 1.8px;
	color:#000000;
}

#l {
	top: 43px;
	left: -6px;
	width: 33px;
	height: 53.6px;
	overflow: hidden;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	font-family: Old English Gothic Pixel;
	font-size: 36px;
	line-height: 48.6px;
	text-align: center;
	letter-spacing: 1.8px;
	color:#000000;
}

#i {
	top: 45px;
	left: -3px;
	width: 26px;
	height: 53.6px;
	overflow: hidden;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	font-family: Old English Gothic Pixel;
	font-size: 36px;
	line-height: 48.6px;
	text-align: center;
	letter-spacing: 1.8px;
	color:#000000;
}