.intro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.intro .overlap-wrapper {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 768px;
  height: 560px;
}

.intro .overlap {
  position: relative;
  width: 862px;
  height: 560px;
  left: -64px;
}

.intro .desk {
  position: absolute;
  width: 768px;
  height: 560px;
  top: 0;
  left: 64px;
  object-fit: cover;
}

.intro .book {
  position: absolute;
  width: 862px;
  height: 454px;
  top: 35px;
  left: 0;
  object-fit: cover;
}

.intro .r-page {
  position: absolute;
  width: 310px;
  height: 388px;
  top: 55px;
  left: 458px;
}

.intro .intro-links {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: flex-start;
  gap: 3px;
  padding: 3px 10px;
  position: absolute;
  top: 42px;
  left: 12px;
}

.intro .subtitle {
  margin-top: -1px;
  position: relative;
  width: fit-content;
  font-family: "Pixel Script-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.intro .text-wrapper {
  font-family: "Pixel Script-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
}

.intro .span {
  font-family: "Old English Gothic Pixel-Regular", Helvetica;
}

.intro .div {
  position: relative;
  width: fit-content;
  font-family: "Pixel Script-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.intro .invisible-box {
  position: relative;
  width: fit-content;
  font-family: "Pixel Script-Regular", Helvetica;
  font-weight: 400;
  color: #eebd8a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.intro .pg-nmbr {
  position: absolute;
  width: 48px;
  top: 349px;
  left: 241px;
  font-family: var(--page-number-font-family);
  font-weight: var(--page-number-font-weight);
  color: #000000;
  font-size: var(--page-number-font-size);
  text-align: right;
  letter-spacing: var(--page-number-letter-spacing);
  line-height: var(--page-number-line-height);
  white-space: nowrap;
  font-style: var(--page-number-font-style);
}

.intro .rtitle {
  position: absolute;
  top: 15px;
  left: 14px;
  font-family: var(--bestiary-title-font-family);
  font-weight: var(--bestiary-title-font-weight);
  color: #000000;
  font-size: var(--bestiary-title-font-size);
  text-align: center;
  letter-spacing: var(--bestiary-title-letter-spacing);
  line-height: var(--bestiary-title-line-height);
  white-space: nowrap;
  font-style: var(--bestiary-title-font-style);
}

.intro .l-page {
  position: absolute;
  width: 310px;
  height: 388px;
  top: 55px;
  left: 130px;
}

.intro .if-found {
  position: absolute;
  top: 155px;
  left: 74px;
  font-family: var(--bestiary-subtitle-font-family);
  font-weight: var(--bestiary-subtitle-font-weight);
  color: #000000;
  font-size: var(--bestiary-subtitle-font-size);
  text-align: center;
  letter-spacing: var(--bestiary-subtitle-letter-spacing);
  line-height: var(--bestiary-subtitle-line-height);
  font-style: var(--bestiary-subtitle-font-style);
}

.intro .image {
  position: absolute;
  width: 146px;
  height: 18px;
  top: 203px;
  left: 81px;
  object-fit: cover;
}

.intro .bestiary-a-scribble {
  position: absolute;
  width: 41px;
  height: 29px;
  top: 99px;
  left: 696px;
  object-fit: cover;
}

.intro .img {
  position: absolute;
  width: 97px;
  height: 16px;
  top: 105px;
  left: 473px;
  object-fit: cover;
}

.intro .nav {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 420px;
  left: 789px;
  background-image: url(./img/89.png);
  background-size: cover;
  background-position: 50% 50%;
}

.intro .tab {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 306px;
  left: 770px;
}

.intro .tab-pink-r {
  height: 40px;
  background-color: #c38ce6;
  border-radius: 4px 0px 0px 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #33323d;
  transform: rotate(180deg);
}

.intro .tab-pink-r-wrapper {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 349px;
  left: 770px;
}

.intro .tab-pink-r-2 {
  background-color: #f58eeb;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #33323d;
  transform: rotate(180deg);
}

.intro .div-wrapper {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 263px;
  left: 770px;
}

.intro .tab-pink-r-3 {
  background-color: #8cc6e6;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #33323d;
  transform: rotate(180deg);
}

.intro .tab-2 {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 220px;
  left: 770px;
}

.intro .tab-pink-r-4 {
  background-color: #97cc77;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #33323d;
  transform: rotate(180deg);
}

.intro .overlap-group-wrapper {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 177px;
  left: 770px;
}

.intro .overlap-group {
  position: relative;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
}

.intro .tab-pink-r-5 {
  position: absolute;
  width: 27px;
  top: 0;
  left: 0;
  background-color: #ff9e2d;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #33323d;
  transform: rotate(180deg);
}

.intro .text-wrapper-2 {
  position: absolute;
  width: 24px;
  height: 35px;
  top: 3px;
  left: 2px;
  font-family: "Old English Gothic Pixel-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 1.8px;
  line-height: normal;
  white-space: nowrap;
}

.intro .tab-3 {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 134px;
  left: 770px;
}

.intro .overlap-2 {
  position: relative;
  height: 43px;
  top: -1px;
}

.intro .tab-pink-r-6 {
  position: absolute;
  width: 27px;
  top: 1px;
  left: 0;
  background-color: #ff753a;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #33323d;
  transform: rotate(180deg);
}

.intro .text-wrapper-3 {
  position: absolute;
  height: 43px;
  top: 0;
  left: 2px;
  font-family: "Old English Gothic Pixel-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 1.8px;
  line-height: normal;
  white-space: nowrap;
}

.intro .tabs-right {
  left: 759px;
  transform: rotate(180deg);
  position: absolute;
  width: 52px;
  height: 324px;
  top: 78px;
}

.intro .tab-o-l-wrapper {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 228px;
  left: 13px;
  transform: rotate(180deg);
}

.intro .img-2 {
  position: absolute;
  width: 42px;
  height: 44px;
  top: -2px;
  left: -3px;
  transform: rotate(-180deg);
  object-fit: cover;
}

.intro .tab-y-l-wrapper {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 185px;
  left: 13px;
  transform: rotate(180deg);
}

.intro .tab-g-l-wrapper {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 142px;
  left: 13px;
}

.intro .tab-b-l-wrapper {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 99px;
  left: 13px;
  transform: rotate(180deg);
}

.intro .tab-pu-l-wrapper {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 56px;
  left: 13px;
  transform: rotate(180deg);
}

.intro .tab-pi-l-wrapper {
  position: absolute;
  width: 27px;
  height: 40px;
  top: 13px;
  left: 13px;
  transform: rotate(180deg);
}

.intro .tabs-page {
  left: 84px;
  position: absolute;
  width: 52px;
  height: 324px;
  top: 78px;
}

.intro .tab-r-a-wrapper {
  position: relative;
  width: 37px;
  height: 40px;
  top: 13px;
  left: 13px;
  transform: rotate(180deg);
}

.intro .tab-r-a {
  position: absolute;
  width: 42px;
  height: 44px;
  top: -2px;
  left: -2px;
  transform: rotate(-180deg);
  object-fit: cover;
}
